<h2>Our Company</h2>
<p>Established in 1992, Carlton Leisure (UK) Limited has a successful history of over 25 years as an Air Ticketing, Holiday Business & Tour Operator in London.</p>
<p>Over the last decade we have grown rapidly establishing ourselves as global leader in the travel business and we have ensured efficient and timely services to our valued customers from UK and beyond. Today together with our travel partners spreading across
    the globe, we deliver high quality travel services to all major global travel destinations in the world. Carlton Leisure has expanded its travel business operations into a multi office service endeavor with 4 offices in the Greater London. Our partnerships
    in the airline industry, link us with many International airlines online and offline to handle our Air Ticketing services quickly and efficiently to any destination in the world. We are built on principles and core values of customer satisfaction,
    trust, friendliness, and quality of service, value for money and accountability & continual improvement. </p>
<h2>IATA Accredited Agent</h2>
<p>We are an IATA accredited agent with a licensed No. 9127292 to permit electronic issuance of airline tickets and other travel products.</p>
<div class="partner-airline">
    <div class="heading">Our Top Airline partner</div>
    <ul class="airline-logo-section">
        <li><img src="https://www.carltonleisure.com/airlinelogo/ba.gif" alt="Cheap flights with british airways"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/ek.gif" alt="Cheap flights with emirates"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/ey.gif" alt="Etihad airways Cheap flights"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/qr.gif" alt="Qatar airways flights"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/ua.gif" alt="Cheap flights united airlines"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/ac.gif" alt="Air canada flights"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/vs.gif" alt="Virgin atlantic flights"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/qf.gif" alt="Carlton leisure qantas flights"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/9w.gif" alt="Jet airways flights"></li>
        <li><img src="https://www.carltonleisure.com/airlinelogo/tg.gif" alt="Thai airways booking"></li>
    </ul>
    <p class="heads">and few more...</p>
    <ul class="airline-logo-list">
        <li>Air China</li>
        <li>Air France</li>
        <li>Air India</li>
        <li>American Airlines</li>
        <li>Cathay Pacific</li>
        <li>China Southern Airlines</li>
        <li>Delta Airlines</li>
        <li>Ethiopian Airlines</li>
        <li>Iberia</li>
        <li>Turkish Airlines</li>
        <li>KLM</li>
        <li>LATAM</li>
        <li>Lufthansa</li>
        <li>Malaysia Airlines</li>
        <li>Oman Air</li>
        <li>Singapore</li>
        <li>South African Airways</li>
        <li>SriLankan Airlines</li>
        <li>Swiss International</li>
    </ul>
</div>
<div class="partner-airline">
    <div class="heading">Our Top Hotel partner</div>
    <ul class="airline-logo-section">
        <li><img src="pictures/hotels-logo/shangrila-hotel-logo.jpg" alt="Shangri-La Hotels Resorts"></li>
        <li><img src="pictures/hotels-logo/hyatt-hotel-logo.jpg" alt="Hyatt Hotels & Resorts"></li>
        <li><img src="pictures/hotels-logo/jumeirah-hotel-logo.jpg" alt="Jumeirah Hotels‎"></li>
        <li><img src="pictures/hotels-logo/marriott-hotel-logo.jpg" alt="Marriott International‎"></li>
        <li><img src="pictures/hotels-logo/leela-hotel-logo.jpg" alt="The Leela Palaces, Hotels and Resorts‎"></li>
        <li><img src="pictures/hotels-logo/hilton-hotel-logo.jpg" alt="Hilton Hotels & Resorts‎"></li>
        <li><img src="pictures/hotels-logo/taj-hotel-logo.jpg" alt="Taj Hotels & Resorts‎"></li>
        <li><img src="pictures/hotels-logo/four-seasons-hotel-logo.jpg" alt="Four Seasons Hotels & Resorts‎"></li>
        <li><img src="pictures/hotels-logo/ritz-hotel-logo.jpg" alt="Ritz-Carlton‎"></li>
        <li><img src="pictures/hotels-logo/langham-hotel-logo.jpg" alt="Langham Hotels & Resorts‎"></li>
    </ul>
    <p class="heads">and few more...</p>
    <ul class="airline-logo-list">
        <li>Banyan Tree</li>
        <li>Mandarin Oriental Hotels</li>
        <li>St. Regis Hotels & Resorts</li>
        <li>Aman Resorts</li>
        <li>Starwood Hotels and Resorts</li>
        <li>The Peninsula Hotels</li>
        <li>Rosewood Hotels & Resorts</li>
        <li>InterContinental Hotels</li>
        <li>Belmond</li>
        <li>Fairmont Hotels and Resorts</li>
        <li>Auberge Resorts</li>
        <li>Oberoi Hotels & Resorts</li>
        <li>Dorchester Collection</li>
        <li>Commune Hotels & Resorts</li>
        <li>Capella Hotels & Resorts</li>
        <li>Accor Hotels</li>
        <li>Best Western International</li>
        <li>Oetker Collection</li>
    </ul>
</div>
<h2>Our Services</h2>
<p>We are well known online Travel Agent (OTA) in United Kingdom and one stop destination for all your travel need like:</p>
<ul class="services-section">
    <li><a href="https://www.carltonleisure.com/travel/flights/">Flights</a></li>
    <li><a href="https://www.carltonleisure.com/flights/multicity.aspx">Multi City Flights</a></li>
    <li><a href="https://www.carltonleisure.com/hotels/">Hotel Booking</a></li>
    <li><a href="https://www.carltonleisure.com/">Flight+ Hotel Services</a></li>
    <li><a href="https://www.carltonleisure.com/carhire/">Car Hire</a></li>
    <li><a href="https://www.carltonleisure.com/travel-insurance/">Travel Insurance</a></li>
    <li><a href="https://www.carltonleisure.com/travel-documents/">Travel Documents</a></li>

</ul>